@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 117 40% 99%;
    --foreground: 117 67% 5%;
    --muted: 117 17% 89%;
    --muted-foreground: 117 3% 28%;
    --popover: 117 40% 99%;
    --popover-foreground: 117 67% 5%;
    --card: 117 40% 98%;
    --card-foreground: 117 67% 4%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 117 38% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 117 3% 89%;
    --secondary-foreground: 117 3% 29%;
    --accent: 117 10% 81%;
    --accent-foreground: 117 10% 21%;
    --destructive: 4 84% 31%;
    --destructive-foreground: 4 84% 91%;
    --ring: 117 38% 38%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 1rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 117 36% 1%;
    --foreground: 117 16% 99%;
    --muted: 117 17% 11%;
    --muted-foreground: 117 3% 72%;
    --popover: 117 36% 1%;
    --popover-foreground: 117 16% 99%;
    --card: 117 36% 2%;
    --card-foreground: 0 0% 100%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 117 38% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 117 5% 13%;
    --secondary-foreground: 117 5% 73%;
    --accent: 117 12% 19%;
    --accent-foreground: 117 12% 79%;
    --destructive: 4 84% 53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 117 38% 38%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
